@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }

    .hero-title {
        min-width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .header-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-link);

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link:hover,
    .header-link:focus {
        color: #404bbf;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .mob-menu-btn {
        display: none;
    }

    .current {
        position: relative;
    }



    .current::after {
        content: '';
        position: absolute;
        left: 0;
        top: 53px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #404BBF;
    }

    .address {
        font-style: normal;
    }



    .address-item {
        margin-bottom: 12px;
    }

    .address-link {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.02em;
        color: #434455;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }


    .hero {
        background-image: var(--bg-gradient),
            url(../images/Dark-bg-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--bg-gradient),
                url(../images/Dark-bg-tab-2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: calc(60 / 56);
        margin-bottom: 36px;
        min-width: 496px;
    }

    .features-list {
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .workers-list {
        gap: 24px;
    }

    .customers-list {
        gap: 72px 24px;
    }

    .footer {
        padding: 96px 0;
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .footer-logo-container {
        align-items: flex-start;
        margin-left: 108px;
    }

    .footer-soc-container {
        align-items: flex-start;
    }

    .footer-subscribe {
        align-items: flex-start;
        margin-left: 108px;
    }

    .footer-subscribe-container {
        flex-direction: unset;
    }

}



@media screen and (min-width: 1140px) {
    .container {
        width: 1128px;
    }

    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .current::after {
        content: '';
        position: absolute;
        left: 0;
        top: 45px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #404BBF;
    }


    .address-list {
        display: flex;
        gap: 40px;
    }

    .address-item {
        margin-bottom: 0;
    }

    .address-link {
        font-size: 16px;
        line-height: calc(24 / 16);
    }

    .hero {
        background-image: var(--bg-gradient),
            url(../images/people-office.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--bg-gradient),
                url(../images/people-office-2x.jpg);
        }
    }

    .hero-title {
        margin-bottom: 48px;
    }


    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    .features-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features-list-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }


    .features-caption {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
    }

    .features-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .services {
        padding-bottom: 120px;
    }

    .services-title {
        display: block;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 72px;
    }

    .services-list {
        width: 100%;
        display: flex;
        gap: 24px;
    }

    .services-item {
        width: calc((100% - 48px) / 3);
    }

    .workers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .workers-list {
        flex-wrap: nowrap;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-item {
        width: calc((100% - 120px) / 6);
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-logo-container {
        align-items: flex-start;
        margin-right: 120px;
        margin-left: 0;

    }

    .footer-container {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0;
    }

    .footer-subscribe {
        align-items: flex-start;
        margin-left: auto;
    }
}